*:root {--dark-bg-color: linear-gradient(180deg, rgba(2, 0, 36, 0.40) 0%, rgba(9, 9, 121, 0.35) 50%, rgba(149, 0, 255, 0.90) 100%);
    --dark-primary: rgb(50, 35, 100);
    --dark-primary-transparent: rgba(50, 35, 100, 0.3);
    --dark-secondary: #DCD0F6;
    box-sizing: border-box;
}