*{
    box-sizing: border-box;
}
:root {
    --dark-bg-color: linear-gradient(180deg, rgba(2, 0. 36, 0.40) 0%, rgba(42, 42, 195, 0.35)
    50%, rgba(255, 255, 255, 0.9) 100%);
    --dark-primary: rgb(31, 51, 139);
    --dark-primary-transparent: rgba(219, 116, 155, 0.332);
    --dark-secondary: #92597f;
}
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #ffffff 0%, #000000 100%), var(--dark-bg-color);
    background-color: #f08094;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-secondary);
}
.Name {
    padding-right: 30px;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding:29px 28px 21px 33px;
    border-radius: 25px;
    background: rgba(255. 255. 255. 0.30)
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    max-width: 625px;
    background-color: #FFFFFF; 
}

@media screen and (max-width: 750px) {
    .card {
        flex-direction: column-reverse;
        max-width: 350px;
        padding: 15px;
    }
}    
.bar {
    background: var(--dark-primary);
    color:rgb(255, 255, 255);
    
    min-width: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 750px){
    .bar{
        width: 60px;
    }

}    

@media screen and (max-width: 750px) {
    h1 {
        margin: 0px;
    }
    .bar {
        width: 100%;
        min-width: auto;
        padding: 8px 10px;
        border-radius: 16px;
        margin: 10px 0px;
    }
}
.bar .title {
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 4px 4px rgb(182, 99, 153);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3.9px;
    text-transform: uppercase;
}
@media screen and (max-width: 750px) {
    .bar .title {
        transform: rotate(0deg);
        font-size: 25px;
    }
}
.main-content {
    flex: 1;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 750px) {
    .main-content {
        padding-left: 0px;
    }
}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
@media screen and (min: 750px) {
    border-bottom: 2px solid var(--dark-primary);
}

.profile-pic {
        border-radius: 15px;
        width: 185px;
        height: 168px;
}
@media screen and (max-width: 750px) {
    .profile-pic {
        width: 50%;
        height: auto;
    }
}
.Image-NC {
    height: 300px;
    width: 300px;
    object-fit: contain;
    overflow: hidden;
}
.IMG {
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    width: 100%;
}
.personal-info {
    border-bottom: 2px solid car(--dark-primary);
    padding-bottom: 5px;
    margin-bottom: 8px;
}
.info-item {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 750px) {
    .info-item {
        flex-direction: column;
        font-size: 14px;
    }
    .info-item h2 {
        padding: 10px 0px;
    }
    h2 {
        font-size: 14px;
        margin-right: 10px;
    }
}
h2 {
    color: var(--dark-primary);
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    margin-right: 20px;
}
@media screen and (min-width: 750px) {

    .preferences.desktop {
    display: flex;
    flex-direction: row;
}
.preferences .likes,
.preferences .dislikes {
    width: 45%;
}
}
/* .Photo-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    overflow: visible;
} */
.Photo {
    height: 30px;
    width: 30px;
    object-fit: contain;
    overflow: visible;
}
/* .Run-icon {
    height: 10px;
    width: 10px;
    object-fit: contain;
    overflow: visible;
} */
.Run {
    height: 30px;
    width: 30px;
    object-fit: contain;
    overflow: visible;
}
/* .Lang-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    overflow: visible;
} */
.Lang {
    height: 30px;
    width: 30px;
    object-fit: contain;
    overflow: visible;
}
@media screen and (max-width: 750px) {
    .preferences.desktop {
        display: none;
    }
}
@media screen and (min-width: 750px) {
    .preferences.mobile {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .preferences.mobile {
        display: block;
    }
}
@media screen and (min-width: 750px) {
    .preferences.desktop {
        display:flex;
        border-bottom: 2px solid var(--dark-primary);
        padding: 10px 0px;
    }
    .preferences .likes,
    .preferences .dislikes {
        display: flex;
        flex-direction: row;
        align-items: end;
        width: 100%;
        font-size: 14px;
    }
}
@media screen and (max-width: 750px) {
    .preferences.mobile {
        display:block;
        border-bottom: 2px solid var(--dark-primary);
        padding: 10px 0px;
    }
    .preferences .likes,
    .preferences .dislikes {
        display: block;
        flex-direction: row;
        align-items: end;
        width: 100%;
        font-size: 14px;
    }
}
.answers {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}
p {
    margin: 5px 0px;
}
@media screen and (max-width: 750px) {
    p {
        font-size: 14px;
    }
}
.skill-items  {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skill-item {
    font-weight: 800;
    font-size: 16px;
    color: var(--dark-primary);
    background-color: #FFFFFF;
    padding: 5px 15px;
    border: 2px solid var(--dark-primary);
    border-radius: 10px;
    margin-right: 6px;
}
@media screen and (max-width: 750px) {
    .skill-item {
        font-size: 14px;
    }
}
.language {
    padding: 5px 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
}


